@import url('https://fonts.googleapis.com/css?family=Raleway');

.main-container {
	color: purple;
	font-family: 'Raleway' , arial;
}

	img {
		height: 350px;
		width: 550px;
		}

#header {
	text-align: center;
}